
$type-size-1                  : 2.441em !default;
$type-size-2                  : 1.953em !default;
$type-size-3                  : 1.563em !default;
$type-size-4                  : 1.25em !default;
$type-size-5                  : 0.2em !default;
$type-size-6                  : 0.75em !default;
$type-size-7                  : 0.6875em !default;
$type-size-8                  : 0.625em !default;